body {
  font-family: helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}
.banner {
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 100px;
  background-color: #f5f5f5;
  border-bottom: 1px solid;
}

.nav_cat {
  margin-left: 12%;
}

.nav_left {
  width: 30%;
  display: inline;
  padding: 4px 8px;
  font-size: 13px;
  font-weight: 20px;
  color: #333333;
}

.nav_left li {
  display: inline;
  list-style: none;
  padding: 4px 8px;
  font-size: 13px;
  font-weight: 20px;
  color: #333333;
}

.nav_right {
  width: 30%;
  height: 23px;
  display: inline;
  margin-left: 15px;
  margin-right: 18%;
  margin-top: -25px;
  padding: 4px 8px;
  font-size: 13px;
  font-weight: 20px;
  color: #333333;
  float: right;
}

.sm_avatar {
  width: 20px;
  height: 20px;
}

.nav_right li {
  float: right;
  margin: 5px;
  margin-top: -5px;
  padding: 4px 8px;
  font-size: 18px;
  display: inline;
  list-style: none;
}

.form-control {
  position: relative;
  width: 370px;
  height: 28px;
  float: left;
  font-size: 13px;
  color: #333333;
}
.mega-octicon {
  float: left;
  width: 28px;
  height: 28px;
  font-size: 28px;
  margin-right: 10px;
  margin-left: 20px;
  color: #333333;
}
.container {
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 20px;
}

.lg_avatar {
  height: 240px;
  width: 240px;
}
.names {
  width: 240px;
  height: 54px;
}

.avatar_info {
  width: 240px;
}
.avatar_details {
  width: 240px;
}


.avatar_name {
  margin-top: 5px;
  line-height: 1;
  font-size: 30px;
  margin-bottom: 15px;
  width: 240px;
  font-family: helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}


.username {
  font-size: 20px;
  float: left;
  display: inline-block;
  width: 240px;
}

.envelope {
  color: #cccccc;
  float: left;
  width: 16px;
  display: inline-block;
}

.clock {
  color: #cccccc;
  float: left;
  width: 16px;
  display: inline-block;
}
.address {
  color: #000000;
  float: left;
  display: inline-block;
  width: 200px;
}

.email {
  color: #000000;
  float: left;
  display: inline-block;
  width: 200px;
}

.joined {
  display: inline-block;
}

.avatar_stats {
  width: 230px;
  height: 75px;
  display: block;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.stat {
  width: 70px;
  height: 43px;
  float: left;
  color: #4183c4;
  text-align: center;
  box-sizing: border-box;
}

.count {
  width: 70px;
  height: 28px;
  display: block;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
}

.descriptors {
  width: 48px;
  height: 13px;
  font-size: 11px;
  text-align: center;
  box-sizing: border-box;
  display: inline;
}
.col-md-2 {
  width: 22%;
  padding-right: 0;
}
.col-md-10 {
  width: 63%;
  padding-left: 10px;
}

.tabnav {
  position: relative;
  margin: 0 0 15px;
  border-bottom: 1px solid #ddd;
  display: block;
}

.my-button {
  float: right;
  background-color: #fff;
}

.btn {
  background-image: linear-gradient(#fcfcfc, #eee);
}


.selected {
  color: red;
}
.inactive {
  color: #666;
}

.repo-bar {
  width: 730px;
  height: 45px;
}

.navbar-form {
  width: 375px;
}

.my-form-control {
  width: 260px;
}

.navbar-btn {
  width: 69px;
}

.repo-btn {
  width: 68px;
  height: 34px;
  float: right;
  background-color: #60b044;
  margin-right: 15px;
  font-size: 10px;
  margin-top: 8px;
}

.repo-img {
  width: 12px;
  height: 16px;
  display: inline-block;
  float: left;
}

.repo-list {
  width: 280px;
  height: 19px;
  list-style-type: none;
  font-size: 14px;
  position: relative;
  float: left;
  display: inline-block;
  padding-left: 5px;
  margin-top: -12px;
}

.repo-list li {
  display: inline;
}

.repo-items {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  box-sizing: border-box;
}

.repo-list-items {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  list-style: none;
  border-bottom: 1px solid #eee;
  font-size: 20px;
  color: #4183c4
}




