<!DOCTYPE html>
<html>
	<head>
		<link href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css' rel='stylesheet'>
		<link rel="stylesheet" href="../octicons/octicons.css">
		<link rel="stylesheet" href="css/style.css">

	</head>
	<body>
		<header>
			<div class='banner clearfix'>
			<div class ='nav_cat'>
				<span class="mega-octicon octicon-mark-github"></span>
				<input type="search" class="form-control" placeholder="Search GitHub">
			</div>
					<ul class="nav_left">
						<li>Explore</li>
						<li>Gist</li>
						<li>Blog</li>
						<li>Help</li>
					</ul>
					<ul class="nav_right">
						<li><span class="octicon octicon-sign-out"></span></li>
						<li><span class="octicon octicon-gear"></span></li>
						<li><span class="octicon octicon-inbox"></span></li>
						<li><span class="octicon octicon-plus"></span></li>
						<li><img class="sm_avatar"src='<%= @profile_data["avatar_url"] %>' /></li>
					</ul>
			</div>
		</header>

			<div class="container">
    		<div class="row">
	        <div class="col-md-2">
	        	<div class="avatar_info">
	        		<img class="lg_avatar"src='<%= @profile_data["avatar_url"] %>' />
							<!-- <h1 class='avatar_name'><%= @name %></h1> -->
							<div class='names'>
								<h1 class='avatar_name'>
									<div class='full_name'>Kate Balducci</div>
									<div class='username'>kbalducci</div>
								</h1>
							</div>
							<hr />
							<div class='avatar_details'>
									<div class='envelope'><span class="octicon octicon-mail"></span></div>
									<div class='address'><a class='email' href='mailto:kbalducci@hotmail.com'>kbalducci@hotmail.com </a></div><br />
									<div class='clock'><span class="octicon octicon-clock"></span></div>
									<div class='joined'>Joined on Nov 18, 2014</div>
							<hr />
							</div>
							<div class='avatar_stats'>
								<a class='stat' href="#">
									<strong class='count'>0</strong>
									<span class='descriptors'>Followers</span>
								</a>
								<a class='stat' href='#'>
									<strong class='count'>0</strong>
									<span class='descriptors'>Starred</span>
								</a>
								<a class='stat'>
									<strong class='count'>0</strong>
									<span class='descriptors'>Following</span>
								</a>
							</div>
							<hr />
						</div>
	        </div>
        	<div class="col-md-10">
        		<div class="tabnav">
        			<div class="edit-profile">
	        			<div class="my-button">

		        			<button type="button" class="btn btn-default"><span class="octicon octicon-pencil"></span>Edit Profile</button>
		        		</div>
		        	</div>
	        		<ul class="nav nav-tabs">
							  <li role="presentation" ><a href="#" class="inactive"><span class="octicon octicon-diff-added"></span>Contributions</a></li>
							  <li role="presentation" class="active"><a href="#" class="selected"><span class="octicon octicon-repo"></span>Repositories</a></li>
							  <li role="presentation"><a href="#" class="inactive"><span class="octicon octicon-rss"></span>Public activity</a></li>
							</ul>
						</div>
						<div class="repo-page">
							<div class="repo-tab">
								<div class="repo-bar">
									<form class="navbar-form navbar-left" role="search">
									  <div class="form-group">
									    <input type="text" class="my-form-control" placeholder="Find a repository...">
									  </div>
									  <button type="submit" class="navbar-btn btn-default">Search</button>
									</form>
									<div class="new-btn">
										<button type="button" class="repo-btn btn-default btn-lg">
  									<span class="repo-img octicon octicon-repo"></span> New
										</button>
									</div>
									<ul class="repo-list">
										<li>All</li>
										<li>Public</li>
										<li>Private</li>
										<li>Sources</li>
										<li>Forks</li>
										<li>Mirrors</li>
									</ul>
								</div>
			            <ul class="repo-items">
										<% @repos_data.each do |repo| %>
							  		<li class="repo-list-items"> <%= repo['name'] %> </li>
										<% end %>
									</ul>
							</div>
						</div>
    		</div>
			</div>
			</div>

			<div class='footer'>
			</div>

	</body>
</html>
